<ng-template #NoResults>
    <div>No Results</div>
</ng-template>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Id </th>
            <td mat-cell *matCellDef="let row"><a [routerLink]="['/transactions', row.id]">{{row.id}} </a>
            </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
            <td mat-footer-cell *matFooterCellDef> {{10}} </td>
        </ng-container>

        <!-- Bank Action Column -->
        <ng-container matColumnDef="bankAction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Action </th>
            <td mat-cell *matCellDef="let row"> {{row.bankAction}} </td>
        </ng-container>

        <!-- transactonDescript  Column -->
        <ng-container matColumnDef="transactonDescript">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Description  </th>
            <td mat-cell *matCellDef="let row"> {{row.transactonDescript}} </td>
        </ng-container>

        <!-- Inserted  Date Column -->
        <ng-container matColumnDef="createdAt" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date  </th>
            <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter </td>
        </tr>
    </table>

</div>